---
layout: page
description: "高阶线性微分方程组会梦见基础解系吗?"
header-img: "img/post-bg-desk.jpg"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <!--
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
        -->
        {% if post.description %}
        <div class="post-content-preview">
                {% if post.description %}
                    {{ post.description }}
                {% endif %}
        </div>
            {% endif %}
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>    
    {% endif %}
    
    {% if site.dispCurrPage == true %}


    {% if paginator.previous_page != null and paginator.next_page == null %}
    <li>
        <a class="pageIndicator" style="margin-left: -190px">{{paginator.page}} / {{paginator.total_pages}}</a>
    </li>    
    {% endif %}

    {% if paginator.next_page != null and paginator.previous_page == null %}
    <li>
        <a class="pageIndicator" style="margin-left: 190px">{{paginator.page}} / {{paginator.total_pages}}</a>
    </li>    
    {% endif %}    

    {% if paginator.next_page and paginator.previous_page %}
    <li>
        <a class="pageIndicator">{{paginator.page}} / {{paginator.total_pages}}</a>
    </li>
    {% endif %}

    {% endif %}
    
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
