{% comment %}
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}

{% if site.busuanzi-active %}
<section>
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <h5><a >STATISTICS</a></h5>
    <div class="stats">
        <span id="busuanzi_container_site_uv">
            Viewed by <b style="color: var(--sidebar-main-color); background-color: transparent !important; font-style: bold;"><i><span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span></i></b> Users<br>
        </span>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    </div>
</section>
<hr>
{% endif %}


